<h3 class="text-center">Add new market</h3>
<div class="d-flex justify-content-center">
  <form (ngSubmit)="onSubmit()" class="w-25" #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [(ngModel)]="coin.name" name="name" #name="ngModel">
    </div>

    <div class="form-group">
      <label for="description">lastPrice</label>
      <input type="text" class="form-control" [(ngModel)]="coin.lastPrice" name="description" #name="ngModel">
    </div>
    <div class="form-group">
      <label for="description">baseAsset</label>
      <input type="text" class="form-control" [(ngModel)]="coin.baseAsset" name="description" #name="ngModel">
    </div>
    <div class="form-group">
      <label for="description">quoteAsset</label>
      <input type="text" class="form-control" [(ngModel)]="coin.quoteAsset" name="description" #name="ngModel">
    </div>
    <div class="form-group">
        <label for="description">volumn24h</label>
        <input type="text" class="form-control" [(ngModel)]="coin.volumn24h" name="description" #name="ngModel">
      </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>